django==3.2
django-debug-toolbar==3.2.1
Pillow==8.3.2
environs[django]==9.5.0
django-phonenumber-field[phonenumbers]==6.1.0
djangorestframework==3.13.1
requests==2.27.1
geopy==2.2.0
rollbar==0.16.3
GitPython==3.1.27
psycopg2-binary==2.9.3
